/* Paleta do site vai ser:
#9fb0cc; - azul claro <- hover
#6d7f8d; - azul médio <- botões
#1e293b; - azul escuro <- barra de navegação
#0f172a; - azul muito escuro <- fundo
#ddd; - branco <- texto em geral */


@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* estilo geral do nosso site*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sansation", sans-serif;
}

body {
    background-image: linear-gradient(135deg, #0f172a 0%, #030e20 50%);
    color: #fff;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.barranav {
    background-color: #090f1b;
    box-shadow: 0 4px 8px rgba(0,0,0,0.09);
    padding: 16px 24px;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100vw;
}

.barranav span {
    cursor: pointer;
    user-select: none;
    padding: 6px 14px;
    background: none;
    color: #fff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 1.3em;
    box-shadow: none;
    transition: background 0.2s;
    display: inline-block;
    transition: 0.3s ease;
}

.barranav span:hover {
    rotate: 4deg;
}

.barranav nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 24px;
    width: 200px;
    background: #1e293b;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.10);
    z-index: 10;
    animation: fadeIn 0.2s;
    flex-direction: column;
}

.barranav.open nav {
    display: flex;
}

.barranav nav ul {
    list-style: none;
    margin: 0;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.barranav nav ul li {
    margin: 0;
    padding: 0;
    transition: 0.3s ease;
}

.barranav nav ul li a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    transition: background 0.18s, color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

.barranav nav ul li a:hover {
    background: #56647a;
    color: #fff;
    transform: translateY(-1px);
    opacity: 0.8;
}

.conteudo {
    margin-top: 4em;
    padding: 100px 60px;
    animation: fadeIn 0.5s ease-in-out;
}

/* textos */
h1{
    margin-bottom: 16px;
    font-size: 2.5em;
    color: #fff;
}

.h2_paragrafo{
    font-size: 1.5em;
    margin-bottom:25px;
    margin-top: 15px;
}
h3 {
    margin-top: 15px;
}
p{
    line-height: 1.6;
    color: #ddd;
}
.justificado{
    text-align: justify;
}
.italico{
    font-style: italic;
}
.direita-alinhado{
    text-align: right;
}
.esquerda-alinhado{
    text-align: left;
}
.centralizado-alinhado{
    text-align: center;
}
.textos-tamanho-0{
    font-size: 2em;
}
.textos-tamanho-1{
    font-size: 1.6em;
}
.textos-tamanho-2{
    font-size: 1.4em;
}
.textos-tamanho-3{
    font-size: 1.2em;
}
.textos-tamanho-4{
    font-size: 1em;
}
.textos-tamanho-5{
    font-size: 0.8em;
}
.bloco-texto-50{
    width: 50%;
}
.identado{
    text-indent: 90px;
}
.citacao{
    margin: 70px 0 70px 0;
    padding: 50px;
    line-height: 1.25;
    color: #d6d6d6;
    transition: 0.3s;
    quotes: "“" "„";
    position: relative;
}
.citacao:hover{
    color: #fff;
    line-height: 1.4;
    transform: scale(1.02);
}
.citacao::before,
.citacao::after {
    font-size: 3em;
    font-family: 'Georgia';
}

.citacao::before {
    content: open-quote;
    position: absolute;
    left: -5px;
    top: 1px;
}

.citacao::after {
    content: close-quote;
    position: absolute;
    right: -5px;
    bottom: 1px;
}
.citacao-autor{
    margin-left: 32px;
    margin-top: 8px;
    color: #bbb;
}
.citacao-autor::before {
    content: "— ";
}
/* margens pré definidas */
.margem-pequena{
    margin-top: 12px;
    margin-bottom: 12px;
}
.margem-media{
    margin-top: 24px;
    margin-bottom: 24px;
}
.margem-grande{
    margin-top: 48px;
    margin-bottom: 48px;
}



/*imagens*/
#container-logo-aws-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#logo-aws-home {
    width: 50%;
    height: auto;
    border-radius: 8px;
    rotate: -5deg;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.aws_logo_alinhar{
    width: 400px;
    position: absolute;
    left: 55%;
    top: 35%;
    transform: rotate(-4deg);
}

#logo-azul{
    width: 400px;
    top: 95%;
}

#aws_prod{
    width: 25%;
    border-radius: 40px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    top: 150%;
    transform: rotate(2deg);
}


/*animações*/
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px);}
    to { opacity: 1; transform: translateY(0);}
}

/*Lista de definições*/
dl {
    margin: 40px 0;
    padding: 0 0 0 20px;
    border-left: 4px solid #ddd;
    max-width: 800px;;
}
dt {
    font-size: 22px;
    font-weight: 1000;
    color: #fff;

}
dd {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 16px;
    color: #ddd;
}

/*Lista não ordenada*/
ul{
    margin: 10px 0 0 30px;
    line-height: 30px;
    color: #ddd;
}

/*outras providências*/

#cabecalho-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 230px;
}
#texto-cabecalho-home{
    width: 100%;
}
#textos-home{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.animacao-palavra {
  animation: color-animation 5s linear infinite;
}

.mudar-cor {
  --color-1: #ff9900;
  --color-2: #aa2e00;
  --color-3: #f5f5f5;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}
